<!--content-->
<div class="container">
    <div class="single">
        <div class="blog-to">
            <img class="img-responsive sin-on" ng-src="{{ game.images.image_banner }}" alt-src="{{ game.game_title }}" />
            <div class="blog-top">
                <div class="blog-left">
                    <b>{{ game.date | ISODateToDate | date: 'dd'}}</b>
                    <span>{{ game.date | ISODateToDate | date: 'MMM'}}</span>
                </div>
                <div class="top-blog">
                    <a class="fast" href="/#">{{ game.game_title }}</a>
                    <p>Posted by <a href="/#">Admin</a> | <a href="/#">{{ gameComments.length }} Comments</a></p>
                    <p class="sed">{{ game.description }}</p>
                    <div class="col-md-6 md-in">
                        <ul class="grid-part">
                            <li><a href="/#"><i class="sign"> </i>Sed ut perspiciatis unde omnis</a></li>
                            <li><a href="/#"><i class="sign"> </i>Lorem ipsum dolor sit amet,  </a></li>
                            <li><a href="/#"><i class="sign"> </i>Sed ut perspiciatis unde omnis</a></li>
                            <li><a href="/#"><i class="sign"> </i>Lorem ipsum dolor sit amet,  </a></li>
                            <li><a href="/#"><i class="sign"> </i>Sed ut perspiciatis unde omnis</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 md-in">
                        <ul class="grid-part">
                            <li><a href="/#"><i class="sign"> </i>Sed ut perspiciatis unde omnis</a></li>
                            <li><a href="/#"><i class="sign"> </i>Lorem ipsum dolor sit amet,  </a></li>
                            <li><a href="/#"><i class="sign"> </i>Sed ut perspiciatis unde omnis</a></li>
                            <li><a href="/#"><i class="sign"> </i>Lorem ipsum dolor sit amet,  </a></li>
                            <li><a href="/#"><i class="sign"> </i>Sed ut perspiciatis unde omnis</a></li>
                        </ul>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div>
                    <a ng-href="{{ gameLink }}"><button class="btn btn-info amazon-button">Buy On Amazon!</button></a>
                    <span>Start Price from : <span class="lowestprice">{{ lowestPrice }}</span></span>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>

        <div class="single-middle">
            <h3>{{ gameComments.length }} Comments</h3>
            <div class="media" ng-repeat="gameComment in gameComments">
                <div class="media-left">
                    <a href="mailto:{{gameComment.email}}">
                        <img class="media-object" src="./public/user/res/images/co.png" alt="">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading"><a href="mailto:{{gameComment.email}}">{{ gameComment.name }}</a></h4>
                    <p>{{ gameComment.comment }}</p>
                </div>
            </div>
        </div>

        <div class="single-bottom">
            <h3>Leave A Comment</h3>
            <form role="form" action="/api/game/comment/add" method="post">
                <input type="hidden" name="game_id" value="{{ game.game_id }}">
                <div class="col-md-4 comment">
                    <input type="text" name="name" value="Name" onfocus="this.value='';" onblur="if (this.value == '') {this.value ='Name';}">
                </div>
                <div class="col-md-4 comment">
                    <input type="text" name="email" value="Email" onfocus="this.value='';" onblur="if (this.value == '') {this.value ='Email';}">
                </div>
                <div class="col-md-4 comment">
                    <input type="text" name="subject" value="Subject" onfocus="this.value='';" onblur="if (this.value == '') {this.value ='Subject';}">
                </div>
                <div class="clearfix"> </div>
                <textarea name="comment" cols="77" rows="6" value=" " onfocus="this.value='';" onblur="if (this.value == '') {this.value = 'Message';}">Message</textarea>
                <input type="submit" value="Send" >
            </form>
        </div>
    </div>
</div>
<!---->
