<!--content-->
<div class="container">
	<div class="games">
		<h2> Games</h2>
		<div class="wrap">
			<div class="main">
				<ul id="og-grid" class="og-grid">
					<li>
						<a href="/#" data-largesrc="./public/user/res/images/1.jpg" data-title="Subway Surfers" data-description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque malesuada purus a convallis dictum. Phasellus sodales varius diam, non sagittis lectus. Morbi id magna ultricies ipsum condimentum scelerisque vel quis felis.. Donec et purus nec leo interdum sodales nec sit amet magna. Ut nec suscipit purus, quis viverra urna.">
							<img class="img-responsive" src="./public/user/res/images/thumbs/1.jpg" alt="img01"/>
						</a>
					</li>
					<li>
						<a href="/#" data-largesrc="./public/user/res/images/2.jpg" data-title="Angry Birds" data-description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque malesuada purus a convallis dictum. Phasellus sodales varius diam, non sagittis lectus. Morbi id magna ultricies ipsum condimentum scelerisque vel quis felis.. Donec et purus nec leo interdum sodales nec sit amet magna. Ut nec suscipit purus, quis viverra urna.">
							<img class="img-responsive" src="./public/user/res/images/thumbs/2.jpg" alt="img02"/>
						</a>
					</li>
					<li>
						<a href="/#" data-largesrc="./public/user/res/images/3.jpg" data-title="Bike Games"  data-description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque malesuada purus a convallis dictum. Phasellus sodales varius diam, non sagittis lectus. Morbi id magna ultricies ipsum condimentum scelerisque vel quis felis.. Donec et purus nec leo interdum sodales nec sit amet magna. Ut nec suscipit purus, quis viverra urna.">
							<img class="img-responsive" src="./public/user/res/images/thumbs/3.jpg" alt="img03"/>
						</a>
					</li>
					<li>
						<a href="/#" data-largesrc="./public/user/res/images/4.jpg" data-title="Temple Run"  data-description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque malesuada purus a convallis dictum. Phasellus sodales varius diam, non sagittis lectus. Morbi id magna ultricies ipsum condimentum scelerisque vel quis felis.. Donec et purus nec leo interdum sodales nec sit amet magna. Ut nec suscipit purus, quis viverra urna.">
							<img class="img-responsive" src="./public/user/res/images/thumbs/4.jpg" alt="img01"/>
						</a>
					</li>
					<li>
						<a href="/#" data-largesrc="./public/user/res/images/5.jpg" data-title="Car Games"  data-description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque malesuada purus a convallis dictum. Phasellus sodales varius diam, non sagittis lectus. Morbi id magna ultricies ipsum condimentum scelerisque vel quis felis.. Donec et purus nec leo interdum sodales nec sit amet magna. Ut nec suscipit purus, quis viverra urna.">
							<img class="img-responsive" src="./public/user/res/images/thumbs/5.jpg" alt="img01"/>
						</a>
					</li>
					<li>
						<a href="/#" data-largesrc="./public/user/res/images/6.jpg" data-title="Fite Games"  data-description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque malesuada purus a convallis dictum. Phasellus sodales varius diam, non sagittis lectus. Morbi id magna ultricies ipsum condimentum scelerisque vel quis felis.. Donec et purus nec leo interdum sodales nec sit amet magna. Ut nec suscipit purus, quis viverra urna.">
							<img class="img-responsive" src="./public/user/res/images/thumbs/6.jpg" alt="img02"/>
						</a>
					</li>
					<li>
						<a href="/#" data-largesrc="./public/user/res/images/7.jpg" data-title="Fite Games"  data-description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque malesuada purus a convallis dictum. Phasellus sodales varius diam, non sagittis lectus. Morbi id magna ultricies ipsum condimentum scelerisque vel quis felis.. Donec et purus nec leo interdum sodales nec sit amet magna. Ut nec suscipit purus, quis viverra urna.">
							<img class="img-responsive" src="./public/user/res/images/thumbs/7.jpg" alt="img03"/>
						</a>
					</li>
					<li>
						<a href="/#" data-largesrc="./public/user/res/images/8.jpg" data-title="Panda Game" data-description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque malesuada purus a convallis dictum. Phasellus sodales varius diam, non sagittis lectus. Morbi id magna ultricies ipsum condimentum scelerisque vel quis felis.. Donec et purus nec leo interdum sodales nec sit amet magna. Ut nec suscipit purus, quis viverra urna.">
							<img class="img-responsive" src="./public/user/res/images/thumbs/8.jpg" alt="img01"/>
						</a>
					</li>
					<li>
						<a href="/#" data-largesrc="./public/user/res/images/4.jpg" data-title="Temple Run"  data-description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque malesuada purus a convallis dictum. Phasellus sodales varius diam, non sagittis lectus. Morbi id magna ultricies ipsum condimentum scelerisque vel quis felis.. Donec et purus nec leo interdum sodales nec sit amet magna. Ut nec suscipit purus, quis viverra urna.">
							<img class="img-responsive" src="./public/user/res/images/thumbs/4.jpg" alt="img01"/>
						</a>
					</li>
					<li>
						<a href="/#" data-largesrc="./public/user/res/images/3.jpg" data-title="Bike Games"  data-description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque malesuada purus a convallis dictum. Phasellus sodales varius diam, non sagittis lectus. Morbi id magna ultricies ipsum condimentum scelerisque vel quis felis.. Donec et purus nec leo interdum sodales nec sit amet magna. Ut nec suscipit purus, quis viverra urna.">
							<img class="img-responsive" src="./public/user/res/images/thumbs/3.jpg" alt="img03"/>
						</a>
					</li>
					<li>
						<a href="/#" data-largesrc="./public/user/res/images/5.jpg" data-title="Car Games"  data-description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque malesuada purus a convallis dictum. Phasellus sodales varius diam, non sagittis lectus. Morbi id magna ultricies ipsum condimentum scelerisque vel quis felis.. Donec et purus nec leo interdum sodales nec sit amet magna. Ut nec suscipit purus, quis viverra urna.">
							<img class="img-responsive" src="./public/user/res/images/thumbs/5.jpg" alt="img01"/>
						</a>
					</li>
					<li>
						<a href="/#" data-largesrc="./public/user/res/images/1.jpg" data-title="Subway Surfers" data-description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque malesuada purus a convallis dictum. Phasellus sodales varius diam, non sagittis lectus. Morbi id magna ultricies ipsum condimentum scelerisque vel quis felis.. Donec et purus nec leo interdum sodales nec sit amet magna. Ut nec suscipit purus, quis viverra urna.">
							<img class="img-responsive" src="./public/user/res/images/thumbs/1.jpg" alt="img01"/>
						</a>
					</li>
					 <div class="clearfix"> </div>
				</ul>
			</div>
		</div>
	</div>
<script src="./public/user/res/js/grid.js"></script>
	<script>
		$(function() {
			Grid.init();
		});
	</script>
</div>
<!---->