<p>{{ index_game.popular.game }}</p>
<!--imageslider-->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!--indicators-->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>

    <!--wrapper for slides-->
    <div class="carousel-inner" role="listbox" width="100%" height="100%">
        <div class="item active">
            <a href ng-click="linkToGame(banner1.game_id)">
                <img src="{{ banner1.images.image_banner }}" alt="{{ banner1.game_title }}" style="margin:0 auto">
            </a>
        </div>
        <div class="item">
            <a href ng-click="linkToGame(banner2.game_id)">
                <img src="{{ banner2.images.image_banner }}" alt="{{ banner2.game_title }}" style="margin:0 auto">
            </a>
        </div>
        <div class="item">
            <a href ng-click="linkToGame(banner3.game_id)">
                <img src="{{ banner3.images.image_banner }}" alt="{{ banner3.game_title }}" style="margin:0 auto">
            </a>
        </div>
        <div class="item">
            <a href ng-click="linkToGame(banner4.game_id)">
                <img src="{{ banner4.images.image_banner }}" alt="{{ banner4.game_title }}" style="margin:0 auto">
            </a>
        </div>
    </div>
</div>
<!---->

<!--content-->
<div class="content">
    <div class="container">
        <div class="content-top">
            <h2 class="new">NEW GAMES</h2>
            <div class="wrap">
                <div class="main">
                    <ul id="og-grid" class="og-grid">
                        <li ng-repeat="new_game in new_games">
                            <a href ng-click="linkToGame(new_game.game_id)" data-largesrc="{{ new_game.images.image_large }}" data-title="Subway Surfers" data-description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque malesuada purus a convallis dictum. Phasellus sodales varius diam, non sagittis lectus. Morbi id magna ultricies ipsum condimentum scelerisque vel quis felis.. Donec et purus nec leo interdum sodales nec sit amet magna. Ut nec suscipit purus, quis viverra urna.">
                                <img class="img-responsive" src="{{ new_game.images.image_thumb }}" alt="img01"/>
                            </a>
                        </li>
                        <!-- <li>
                            <a href="/#" data-largesrc="./public/user/res/images/2.jpg" data-title="Angry Birds" data-description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque malesuada purus a convallis dictum. Phasellus sodales varius diam, non sagittis lectus. Morbi id magna ultricies ipsum condimentum scelerisque vel quis felis.. Donec et purus nec leo interdum sodales nec sit amet magna. Ut nec suscipit purus, quis viverra urna.">
                                <img class="img-responsive" src="./public/user/res/images/thumbs/2.jpg" alt="img02"/>
                            </a>
                        </li>
                        <li>
                            <a href="/#" data-largesrc="./public/user/res/images/3.jpg" data-title="Bike Games"  data-description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque malesuada purus a convallis dictum. Phasellus sodales varius diam, non sagittis lectus. Morbi id magna ultricies ipsum condimentum scelerisque vel quis felis.. Donec et purus nec leo interdum sodales nec sit amet magna. Ut nec suscipit purus, quis viverra urna.">
                                <img class="img-responsive" src="./public/user/res/images/thumbs/3.jpg" alt="img03"/>
                            </a>
                        </li>
                        <li>
                            <a href="/#" data-largesrc="./public/user/res/images/4.jpg" data-title="Temple Run"  data-description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque malesuada purus a convallis dictum. Phasellus sodales varius diam, non sagittis lectus. Morbi id magna ultricies ipsum condimentum scelerisque vel quis felis.. Donec et purus nec leo interdum sodales nec sit amet magna. Ut nec suscipit purus, quis viverra urna.">
                                <img class="img-responsive" src="./public/user/res/images/thumbs/4.jpg" alt="img01"/>
                            </a>
                        </li>
                        <li>
                            <a href="/#" data-largesrc="./public/user/res/images/5.jpg" data-title="Car Games"  data-description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque malesuada purus a convallis dictum. Phasellus sodales varius diam, non sagittis lectus. Morbi id magna ultricies ipsum condimentum scelerisque vel quis felis.. Donec et purus nec leo interdum sodales nec sit amet magna. Ut nec suscipit purus, quis viverra urna.">
                                <img class="img-responsive" src="./public/user/res/images/thumbs/5.jpg" alt="img01"/>
                            </a>
                        </li>
                        <li>
                            <a href="/#" data-largesrc="./public/user/res/images/6.jpg" data-title="Fite Games"  data-description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque malesuada purus a convallis dictum. Phasellus sodales varius diam, non sagittis lectus. Morbi id magna ultricies ipsum condimentum scelerisque vel quis felis.. Donec et purus nec leo interdum sodales nec sit amet magna. Ut nec suscipit purus, quis viverra urna.">
                                <img class="img-responsive" src="./public/user/res/images/thumbs/6.jpg" alt="img02"/>
                            </a>
                        </li>
                        <li>
                            <a href="/#" data-largesrc="./public/user/res/images/7.jpg" data-title="Fite Games"  data-description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque malesuada purus a convallis dictum. Phasellus sodales varius diam, non sagittis lectus. Morbi id magna ultricies ipsum condimentum scelerisque vel quis felis.. Donec et purus nec leo interdum sodales nec sit amet magna. Ut nec suscipit purus, quis viverra urna.">
                                <img class="img-responsive" src="./public/user/res/images/thumbs/7.jpg" alt="img03"/>
                            </a>
                        </li>
                        <li>
                            <a href="/#" data-largesrc="./public/user/res/images/8.jpg" data-title="Panda Game" data-description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque malesuada purus a convallis dictum. Phasellus sodales varius diam, non sagittis lectus. Morbi id magna ultricies ipsum condimentum scelerisque vel quis felis.. Donec et purus nec leo interdum sodales nec sit amet magna. Ut nec suscipit purus, quis viverra urna.">
                                <img class="img-responsive" src="./public/user/res/images/thumbs/8.jpg" alt="img01"/>
                            </a>
                        </li> -->
                        <div class="clearfix"> </div>
                    </ul>
                </div>
            </div>
        </div>
<!-- <script src="./public/user/res/js/grid.js"></script>
<script>
    $(function() {
        Grid.init();
    });
</script> -->
    </div>

    <div class="col-mn">
        <div class="container">
            <div class="col-mn2">
                <h3>Welcome to GameOri</h3>
                <br>
                <p>We are very happy to welcome you to explore our website which aims to introduce the latest games and do a review of the game. Additionally, you can also directly buy the game that you like through the Amazon site.</p>
                <a class="more-in" href="/games">Read More</a>
            </div>
        </div>
    </div>

    <div class="featured">
        <div class="container">
            <div class="col-md-4 latest">
                <h4>Latest</h4>
                <div class="late" ng-repeat="latest_game in latest_games">
                    <a href ng-click="linkToGame(latest_game.game_id)" class="fashion">
                        <img class="img-responsive " src="{{ latest_game.images.image_icon }}" alt="">
                    </a>
                    <div class="grid-product">
                        <span>{{ latest_game.date | ISODateToDate | date: 'dd MMM, yyyy'}}</span>
                        <p><a href ng-click="linkToGame(latest_game.game_id)">{{ latest_game.tag }}</a></p>
                        <a class="comment" href ng-click="linkToGame(latest_game.game_id)"><i> </i> 0 Comments</a>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <!-- <div class="late">
                    <a href="/game" class="fashion">
                        <img class="img-responsive " src="./public/user/res/images/la1.jpg" alt="">
                    </a>
                    <div class="grid-product">
                        <span>6 Apr, 2015</span>
                        <p><a href="/game"> Ipsum dolor sit amet, consectetuer adipiscing elit,it has roots </a></p>
                        <a class="comment" href="/game"><i> </i> 0 Comments</a>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="late">
                    <a href="/game" class="fashion">
                        <img class="img-responsive " src="./public/user/res/images/la2.jpg" alt="">
                    </a>
                    <div class="grid-product">
                        <span>6 Apr, 2015</span>
                        <p><a href="/game"> Ipsum dolor sit amet, consectetuer adipiscing elit,it has roots </a></p>
                        <a class="comment" href="/game"><i> </i> 0 Comments</a>
                    </div>
                    <div class="clearfix"> </div>
                </div> -->
            </div>

            <div class="col-md-4 latest">
                <h4>Featured</h4>
                <div class="late">
                    <a href ng-click="linkToGame(featuring1.game_id)" class="fashion">
                        <img class="img-responsive " src="{{ featuring1.images.image_icon }}" alt="">
                    </a>
                    <div class="grid-product">
                        <span>{{ featuring1.date | ISODateToDate | date: 'dd MMM, yyyy'}}</span>
                        <p><a href ng-click="linkToGame(featuring1.game_id)"> {{ featuring1.tag}} </a></p>
                        <a class="comment" href ng-click="linkToGame(featuring1.game_id)"><i> </i> 0 Comments</a>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="late">
                    <a href ng-click="linkToGame(featuring2.game_id)" class="fashion">
                        <img class="img-responsive " src="{{ featuring2.images.image_icon }}" alt="">
                    </a>
                    <div class="grid-product">
                        <span>{{ featuring2.date | ISODateToDate | date: 'dd MMM, yyyy'}}</span>
                        <p><a href ng-click="linkToGame(featuring2.game_id)"> {{ featuring2.tag}} </a></p>
                        <a class="comment" href ng-click="linkToGame(featuring2.game_id)"><i> </i> 0 Comments</a>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="late">
                    <a href ng-click="linkToGame(featuring3.game_id)" class="fashion">
                        <img class="img-responsive " src="{{ featuring3.images.image_icon }}" alt="">
                    </a>
                    <div class="grid-product">
                        <span>{{ featuring3.date | ISODateToDate | date: 'dd MMM, yyyy'}}</span>
                        <p><a href ng-click="linkToGame(featuring3.game_id)"> {{ featuring3.tag}} </a></p>
                        <a class="comment" href ng-click="linkToGame(featuring3.game_id)"><i> </i> 0 Comments</a>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>

            <div class="col-md-4 latest">
                <h4>Popular</h4>
                <div class="late">
                    <a href ng-click="linkToGame(popular1.game_id)" class="fashion">
                        <img class="img-responsive " src="{{ popular1.images.image_icon }}" alt="">
                    </a>
                    <div class="grid-product">
                        <span>{{ popular1.date | ISODateToDate | date: 'dd MMM, yyyy'}}</span>
                        <p><a href ng-click="linkToGame(popular1.game_id)"> {{ popular1.tag}} </a></p>
                        <a class="comment" href ng-click="linkToGame(popular1.game_id)"><i> </i> 0 Comments</a>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="late">
                    <a href ng-click="linkToGame(popular2.game_id)" class="fashion">
                        <img class="img-responsive " src="{{ popular2.images.image_icon }}" alt="">
                    </a>
                    <div class="grid-product">
                        <span>{{ popular2.date | ISODateToDate | date: 'dd MMM, yyyy'}}</span>
                        <p><a href ng-click="linkToGame(popular2.game_id)"> {{ popular2.tag}} </a></p>
                        <a class="comment" href ng-click="linkToGame(popular2.game_id)"><i> </i> 0 Comments</a>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="late">
                    <a href ng-click="linkToGame(popular3.game_id)" class="fashion">
                        <img class="img-responsive " src="{{ popular3.images.image_icon }}" alt="">
                    </a>
                    <div class="grid-product">
                        <span>{{ popular3.date | ISODateToDate | date: 'dd MMM, yyyy'}}</span>
                        <p><a href ng-click="linkToGame(popular3.game_id)"> {{ popular3.tag}} </a></p>
                        <a class="comment" href ng-click="linkToGame(popular3.game_id)"><i> </i> 0 Comments</a>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!--