<!--content-->
<div class="review">
	<div class="container">
		<h2 >Reviews</h2>
			<div class="review-md1">
				 <div class="col-md-4 sed-md">
					<div class=" col-1">
						<a href="/game"><img class="img-responsive" src="./public/user/res/images/re.jpg" alt=""></a>
						<h4><a href="/game">Sed ut perspiciatis unde omnis</a></h4>
						<p>Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature</p>
					</div>
				 </div>
				<div class="col-md-4 sed-md">
					<div class=" col-1">
						<a href="/game"><img class="img-responsive" src="./public/user/res/images/re1.jpg" alt=""></a>
						<h4><a href="/game">Sed ut perspiciatis unde omnis</a></h4>
						<p>Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature</p>
					</div>
				</div>
				<div class="col-md-4 sed-md">
					<div class=" col-1">
						<a href="/game"><img class="img-responsive" src="./public/user/res/images/re2.jpg" alt=""></a>
						<h4><a href="/game">Sed ut perspiciatis unde omnis</a></h4>
						<p>Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature</p>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="review-md1">
				<div class="col-md-4 sed-md">
					<div class=" col-1">
						<a href="/game"><img class="img-responsive" src="./public/user/res/images/re3.jpg" alt=""></a>
						<h4><a href="/game">Sed ut perspiciatis unde omnis</a></h4>
						<p>Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature</p>
					</div>
				</div>
				<div class="col-md-4 sed-md">
					<div class=" col-1">
						<a href="/game"><img class="img-responsive" src="./public/user/res/images/re4.jpg" alt=""></a>
						<h4><a href="/game">Sed ut perspiciatis unde omnis</a></h4>
						<p>Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature</p>
					</div>
				</div>
				<div class="col-md-4 sed-md">
					<div class=" col-1">
						<a href="/game"><img class="img-responsive" src="./public/user/res/images/re5.jpg" alt=""></a>
						<h4><a href="/game">Sed ut perspiciatis unde omnis</a></h4>
						<p>Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature</p>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="review-md1">
				<div class="col-md-4 sed-md">
					<div class=" col-1">
						<a href="/game"><img class="img-responsive" src="./public/user/res/images/re6.jpg" alt=""></a>
						<h4><a href="/game">Sed ut perspiciatis unde omnis</a></h4>
						<p>Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature</p>
					</div>
				</div>
				<div class="col-md-4 sed-md">
					<div class=" col-1">
						<a href="/game"><img class="img-responsive" src="./public/user/res/images/re7.jpg" alt=""></a>
						<h4><a href="/game">Sed ut perspiciatis unde omnis</a></h4>
						<p>Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature</p>
					</div>
				</div>
				<div class="col-md-4 sed-md">
					<div class=" col-1">
						<a href="/game"><img class="img-responsive" src="./public/user/res/images/re1.jpg" alt=""></a>
						<h4><a href="/game">Sed ut perspiciatis unde omnis</a></h4>
						<p>Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature</p>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
	</div>
</div>
<!---->
