<div>
    <h3>Delete Posted Games</h3>
</div>
<div>
    <table class="table table-striped">
        <thead>
            <th>Game ID</th>
            <th>Game Title</th>
            <th>Date</th>        
        </thead>
        <tbody>
            <tr ng-repeat="x in game">
                <td>{{x.game_id}}</td>
                <td>{{x.game_title}}</td>
                <td>{{x.date}}</td>
                <td><button class="btn-warning" ng-click="deletePost(x.game_id)">Hapus</button></td>
            </tr>
        </tbody>
    </table>
</div>