 <div>
        <form role="form" action="../../api/admin/game/featuring/add" method="post">
            <h3>Banner</h3>
            <table>
                <tbody>
                    <tr>
                        <td><label for="game_id_1b">Insert Game ID 1</label></td>
                        <td><input type="text" name="game_id_1b" required="required" size="102"/></td>
                    </tr>
                    <tr>
                        <td><label for="game_id_2b">Insert Game ID 2</label></td>
                        <td><input type="text" name="game_id_2b" required="required" size="102"/></td>
                    </tr>
                    <tr>
                        <td><label for="game_id_3b">Insert Game ID 3</label></td>
                        <td><input type="text" name="game_id_3b" required="required" size="102"/></td>
                    </tr>
                    <tr>
                        <td><label for="game_id_4b">Insert Game ID 4</label></td>
                        <td><input type="text" name="game_id_4b" required="required" size="102"/></td>
                    </tr>
                </tbody>
            </table>
            <h3>Featuring Game</h3>
        	<table>
        		<tbody>
        			<tr>
        				<td><label for="game_id_1f">Insert Game ID 1</label></td>
        				<td><input type="text" name="game_id_1f" required="required" size="102"/></td>
        			</tr>
                    <tr>
                        <td><label for="game_id_2f">Insert Game ID 2</label></td>
                        <td><input type="text" name="game_id_2f" required="required" size="102"/></td>
                    </tr>
                    <tr>
                        <td><label for="game_id_3f">Insert Game ID 3</label></td>
                        <td><input type="text" name="game_id_3f" required="required" size="102"/></td>
                    </tr>
        		</tbody>
        	</table>
            <h3>Popular Game</h3>
            <table>
                <tbody>
                    <tr>
                        <td><label for="game_id_1p">Insert Game ID 1</label></td>
                        <td><input type="text" name="game_id_1p" required="required" size="102"/></td>
                    </tr>
                    <tr>
                        <td><label for="game_id_2p">Insert Game ID 2</label></td>
                        <td><input type="text" name="game_id_2p" required="required" size="102"/></td>
                    </tr>
                    <tr>
                        <td><label for="game_id_3p">Insert Game ID 3</label></td>
                        <td><input type="text" name="game_id_3p" required="required" size="102"/></td>
                    </tr>
                </tbody>
            </table>

            <button type="submit" class="btn btn-primary btn-block btn-large">Submit</button>
        </form>
 </div>