<!doctype html>

<!-- ASSIGN OUR ANGULAR MODULE -->
<html ng-app="gameori">
<head>
	<!-- META -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1"><!-- Optimize mobile viewport -->

	<title>Gameori</title>


	<style>
		html 					{ overflow-y:scroll; }
		body 					{ padding-top:50px; }
		#todo-list 				{ margin-bottom:30px; }
		#todo-form 	 			{ margin-bottom:50px; }
	</style>

	<!-- SPELLS -->
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script><!-- load angular -->
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.js"></script>
	<script src="./public/admin/controllers/main.js"></script> <!-- load up our controller -->
	<script src="./public/admin/services/main.js"></script> <!-- load our todo service -->
	<script src="./public/admin/admin-app.js"></script> <!-- load our main application -->
	<script src="./public/admin/admin-routes.js"></script> <!-- load our main application -->
	<link rel="stylesheet" href="./vendor/bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="./public/admin/res/admin-style.css">
</head>
<!-- SET THE CONTROLLER -->
<body ng-controller="adminController">
	<div class="container">
	<div class="row">
		<div class="col-lg-4 col-sm-4 col-md-4 col-xs-4"></div>
		<div class="col-lg-4 col-sm-4 col-md-4 col-xs-4 login-bar">Login</div>
		<div class="col-lg-4 col-sm-4 col-md-4 col-xs-4"></div>
	</div>
	<div id="form-login" class="row">
			<div class="col-sm-8 col-sm-offset-2 text-center">
				<form action="/enter" method="post">
					<div class="form-group">

						<!-- BIND THIS VALUE TO formLoginData IN ANGULAR -->
						<input type="text" class="form-control input-lg text-center" placeholder="Username" name="username">
						<input type="password" class="form-control input-lg text-center" placeholder="Password" name="password">
					</div>

					<!-- createToDo() WILL CREATE NEW TODOS -->
					<button type="submit" class="btn btn-primary btn-lg">Sign In</button>
				</form>
			</div>
		</div>
		{{ username }} {{ password }}
</div>
</body>
</html>
