<!doctype html>

<!-- ASSIGN OUR ANGULAR MODULE -->
<html ng-app="gameori">
<head>
	<!-- META -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1"><!-- Optimize mobile viewport -->

	<title>Gameori Login</title>


	<style>
		html 					{ overflow-y:scroll; }
		body 					{ padding-top:50px; }
		#todo-list 				{ margin-bottom:30px; }
		#todo-form 	 			{ margin-bottom:50px; }
	</style>

	<!-- SPELLS -->
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script><!-- load angular -->
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<script src="./public/admin/controllers/main.js"></script> <!-- load up our controller -->
	<script src="./public/admin/services/main.js"></script> <!-- load our todo service -->
	<script src="./public/admin/admin-app.js"></script> <!-- load our main application -->
	<script src="./public/admin/admin-routes.js"></script> <!-- load our main application -->
	<link rel="stylesheet" href="./vendor/bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" href="./vendor/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="./vendor/bootstrap/dist/js/bootstrap.min.js">
	<link rel="stylesheet" type="text/css" href="./public/admin/res/admin-style.css">	
    <link rel="stylesheet" type="text/css" href="./public/admin/res/main.css">	
</head>
<!-- SET THE CONTROLLER -->
<body ng-controller="adminController">
	<header class="navbar navbar-inverse navbar-fixed-top wet-asphalt">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="index.html"><img src="images/logo.png" alt="logo"></a>
            </div>
        </div>
    </header><!--/header-->

    <div class="alert alert-danger fade in col-lg-4 col-sm-4 col-md-4 col-xs-4 col-sm-offset-4" role="alert">
    	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
  				<span aria-hidden="true">&times;</span>
		</button>
    	<h4>Oh Err !</h4>
    	<p>Username dan Password tidak boleh kosong</p>
    </div>

	<div class="container col-lg-offset-3 col-lg-6 col-sm-6 col-md-7 col-xs-6">
		<ul class="list-group">
			<li class="list-group-item">
				<div class="row">
					<div class="col-lg-4 col-sm-4 col-md-4 col-xs-4"></div>
					<div class="col-md-3 login-bar">Login</div>
					<div class="col-lg-4 col-sm-4 col-md-4 col-xs-4"></div>
				</div><br>
				<div id="form-login" class="row">
					<div class="col-md-7 col-sm-offset-2 text-center">
						<form role="form" action="/enter" method="post">
							<div class="form-group">
								<!-- BIND THIS VALUE TO formLoginData IN ANGULAR -->
								<label>Username</label>
								<input type="text" class="form-control input-lg text-center" autocomplete="off" placeholder="Username" name="username"><br>
								<label>Password</label>
								<input type="password" class="form-control input-lg text-center" autocomplete="off" placeholder="Password" name="password">
							</div>
							<!-- createToDo() WILL CREATE NEW TODOS -->
							<a href="" class="pull-right">Lupa Password?</a>
							<button type="submit" class="col-sm-offset-4 btn btn-primary btn-md">Sign In</button>
						</form>
					</div>
				</div>
			</li>
			<li class="list-group-item">
				<div class="row">
					<div class="col-lg-4 col-sm-4 col-md-4 col-xs-4"></div>
					<div class="col-lg-4 login-bar">Sign Up</div>
					<div class="col-lg-4 col-sm-4 col-md-4 col-xs-4"></div>
				</div><br>
				<div id="form-login" class="row">
					<div class="col-md-7 col-sm-offset-2 text-center">
						<form role="form" action="/enter" method="post">
							<div class="form-group">
								<!-- BIND THIS VALUE TO formLoginData IN ANGULAR -->
								<label>Username</label>
								<input type="text" class="form-control input-lg text-center" autocomplete="off" placeholder="Username" name="username"><br>
								<label>Email</label>
								<input type="email" class="form-control input-lg text-center" autocomplete="off" placeholder="Email" name="email"><br>
								<label>Password</label>
								<input type="password" class="form-control input-lg text-center" autocomplete="off" placeholder="Password" name="password"><br>
								<label>Password Again</label>
								<input type="password" class="form-control input-lg text-center" autocomplete="off" placeholder="Password" name="password">
							</div>
							<!-- createToDo() WILL CREATE NEW TODOS -->
							<button type="submit" class="btn btn-primary btn-md">Create Account</button>
						</form>
					</div>
				</div>
			</li>
		</ul>
		{{ username }} {{ password }}
	</div>
</body>
</html>
