<div>
    <h3>Posted Games</h3>
</div>
<div>
    <table class="table table-striped">
        <thead>
            <th>Game ID</th>
            <th>Game Title</th>
            <th>Date</th>
        </thead>
        <tbody>
            <tr ng-repeat="game in games">
                <td>{{game.game_id}}</td>
                <td>{{game.game_title}}</td>
                <td>{{game.date}}</td>
            </tr>
        </tbody>
    </table>
</div>
<div>
    <h3>Banner Games</h3>
</div>
<div>
    <table class="table table-striped">
        <thead>
            <th>Game ID</th>
        </thead>
        <tbody>
            <tr>
                <td>{{index_games[0].banner.game_id_1}}</td>
            </tr>
            <tr>
                <td>{{index_games[0].banner.game_id_2}}</td>
            </tr>
            <tr>
                <td>{{index_games[0].banner.game_id_3}}</td>
            </tr>
            <tr>
                <td>{{index_games[0].banner.game_id_4}}</td>
            </tr>
        </tbody>
    </table>
</div>
<div>
    <h3>Featuring Games</h3>
</div>
<div>
    <table class="table table-striped">
        <thead>
            <th>Game ID</th>
        </thead>
        <tbody>
            <tr>
                <td>{{index_games[0].featuring.game_id_1}}</td>
            </tr>
            <tr>
                <td>{{index_games[0].featuring.game_id_2}}</td>
            </tr>
            <tr>
                <td>{{index_games[0].featuring.game_id_3}}</td>
            </tr>
        </tbody>
    </table>
</div>
<div>
    <h3>Popular Games</h3>
</div>
<div>
    <table class="table table-striped">
        <thead>
            <th>Game ID</th>
        </thead>
        <tbody>
            <tr>
                <td>{{index_games[0].popular.game_id_1}}</td>
            </tr>
            <tr>
                <td>{{index_games[0].popular.game_id_2}}</td>
            </tr>
            <tr>
                <td>{{index_games[0].popular.game_id_3}}</td>
            </tr>
        </tbody>
    </table>
</div>