/*--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
body
{
    font-family: 'PT Sans', sans-serif;

    background: #fff;
}
body a
{
    -webkit-transition: .5s all;
       -moz-transition: .5s all;
        -ms-transition: .5s all;
         -o-transition: .5s all;
            transition: .5s all;
}
ul
{
    margin: 0;
    padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
label,
p
{
    margin: 0;
}
/*----*/
.top-header
{
    background: #8fbf00;
}
.search
{
    position: relative;

    float: right;

    width: 23%;

    border-left: 1px solid #fff;
}
.search input[type='text']
{
    font-size: 1em;
    font-style: italic;

    width: 91%;
    padding: 8px 15px;

    color: #fff;
    border: none;
    outline: none;
    background: none;
}
.search input[type='submit']
{
    position: absolute;
    top: 5px;
    right: 0;

    width: 25px;
    height: 25px;

    cursor: pointer;

    border: none;
    outline: none;
    background: url(../images/img-sprite.png)no-repeat -6px -12px ;
}
ul.header-in
{
    float: left;

    margin-top: .5em;
}
ul.header-in li
{
    display: inline-block;
}
ul.header-in li a
{
    font-size: 1em;

    margin: 0 1em;

    text-decoration: none;

    color: #fff;
}
ul.header-in li a:hover
{
    color: #2d2d2d;
}
.head-top
{
    padding: 0 15px;
}
.top-head
{
    padding: 0 15px;
}
/*--logo--*/
.logo
{
    float: left;
}
.logo h1
{
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 2.5em;
}
.logo h1 a
{
    text-decoration: none;

    color: #2d2d2d;
}
.logo h1 a span
{
    text-decoration: none;

    color: #8fbf00;
}
.top-nav
{
    float: right;
}
.top-nav ul li
{
    display: inline-block;
    float: left;
}
.top-nav span.menu
{
    display: none;
}
.top-nav ul li  a
{
    font-size: 1.1em;

    display: inline-block;

    padding: .5em 1.3em;

    text-decoration: none;

    color: #000;
}
.top-nav ul li  a:hover
{
    color: #fff;
}
.top-nav ul li a.color1:hover
{
    background: #d52685;
}
.top-nav ul li a.color2:hover
{
    background: #fd9f3e;
}
.top-nav ul li a.color3:hover
{
    background: #553a99;
}
.top-nav ul li a.color4:hover
{
    background: #6cbc35;
}
.top-nav ul li a.color5:hover
{
    background: #08538c;
}
.top-nav ul li a.color6:hover
{
    background: #ffe500;
}
.header-top
{
    padding: 2em 0 ;

    border-bottom: 1px solid #d3d2d2;
    background: #fff;
}
/*--banner--*/
.wmuSlider
{
    position: relative;

    overflow: hidden;
}
.wmuSliderPagination
{
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;

    background: #fff;
}
ul.wmuSliderPagination
{
    width: 65px;
    height: 342px;
    padding: 10.5em 2em 0;
}
.wmuSliderPagination li
{
    display: block;

    margin-bottom: 8px;

    list-style-type: none;
}
.wmuSliderPagination a
{
    display: block;

    width: 8px;
    height: 8px;

    text-indent: -9999px;

    border-radius: 50px;
    background: #8fbf00;
}
.wmuGallery .wmuGalleryImage
{
    margin-bottom: 10px;
}
.wmuSliderPrev,
.wmuSliderNext
{
    display: none;
}
.wmuSliderWrapper
{
    padding: 0 1em;
}
.banner
{
    padding: 3em 0;

    background: url(../images/dark.png) 0 0;
}
.banner-top
{
    float: left;

    width: 35%;
    margin-right: 3%;

    border-radius: 5px;
    background: #fff;
}
.banner-bottom
{
    width: 55%;
}
.banner-top-in
{
    float: left;

    width: 45%;
}
/*--//banner--*/
/*--content--*/
h2.new
{
    font-size: 1.5em;

    color: #000;
}
h2.new:after,
h2.new:before
{
    display: inline-block;

    width: 489px;
    height: 2px;
    margin: 0 10px 0 0;

    content: '';
    vertical-align: middle;

    background: #8fbf00;
}
h2.new:after
{
    margin: 0 0 0 10px;
}
.content-top
{
    padding: 5em 0 4em;
}

/*--col-mn--*/
.col-mn
{
    display: block;

    width: 100%;
    min-height: 380px;
    padding: 6.5em 0 0;

    background: url(../images/ba2.jpg)no-repeat center;
    background-size: cover;
}

.col-mn2
{
    color: #fff;
}
.col-mn2 h3
{
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 3em;
}
.col-mn2 p
{
    font-size: 1.1em;

    width: 75%;
    margin: .5em 0 1.5em;
}

a.more-in
{
    font-size: 1em;

    padding: .5em 1em;

    text-decoration: none;

    color: #fff;
    background: #8fbf00;
}

a.more-in:hover
{
    color: #2d2d2d;
    background: #fff;
}
/*--latest--*/
a.fashion
{
    float: left;

    width: 34%;
}
.grid-product
{
    float: right;

    width: 62%;
}
.grid-product span
{
    font-size: 1.1em;

    color: #989494;
}
.grid-product p
{
    font-size: 1.1em;
    line-height: 1.4em;

    margin: .3em 0;
}
.grid-product p a
{
    text-decoration: none;

    color: #000;
}
.grid-product p a:hover
{
    color: #8fbf00;
}
.late
{
    padding: 2em 0 0;
}
.latest h4
{
    font-size: 1.5em;

    display: block;

    padding: 10px 15px;

    color: #fff;
    background: #2d2d2d;
}
a.comment
{
    font-size: 1em;

    text-decoration: none;

    color: #8fbf00;
}
a.comment i
{
    display: inline-block;

    width: 16px;
    min-height: 16px;
    margin-right: 4px;

    vertical-align: middle;

    background: url(../images/img-sprite.png)no-repeat -41px -16px;
}
.featured
{
    padding: 5em 0;
}
/*--//content--*/
/*--footer--*/
.footer-middle
{
    padding: 2em 0;

    background: #2d2d2d;
}
.footer-middle-in
{
    float: left;

    width: 20%;
}
.footer-middle-in  h6
{
    font-size: 1.3em;

    padding: 0 0 .4em;

    text-transform: uppercase;

    color: #fff;
}
.footer-middle-in  p
{
    font-size: .9em;
    line-height: 1.9em;

    width: 79%;

    color: #989494;
}
.footer-middle-in  ul li
{
    list-style: none;
}
.footer-middle-in  ul li a
{
    font-size: .9em;

    display: block;

    padding: 0 0 .5em ;

    text-decoration: none;

    color: #989494;
}
.footer-middle-in  ul li a:hover
{
    color: #8fbf00;
}
.footer-class
{
    font-size: 1em;

    padding: 1em 0;

    text-align: center;

    color: #fff;
    background: #8fbf00;
}
.footer-class a
{
    text-decoration: none;

    color: #2d2d2d;
}
.footer-class a:hover
{
    color: #fff;
}
/*--//footer--*/
/*--games--*/
.games
{
    padding: 3em 0 4em;
}
.games h2
{
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 3em;

    text-align: center;

    color: #2d2d2d;
}
/*--//games--*/
/*--contact--*/
.contact
{
    padding: 3em 0 0;
}
.contact h2
{
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 3em;

    text-align: center;

    color: #2d2d2d;
}
.map iframe
{
    width: 100%;
    height: 350px;

    border: none;
}
.contact-grid input[type='text'],
.contact-grid textarea
{
    font-size: 1em;

    width: 100%;
    margin: .5em 0;
    padding: 1em;

    color: #a09f9f;
    border: 1px solid #a09f9f;
    outline: none;
    background: none;

    -webkit-appearance: none;
}
.contact-grid textarea
{
    resize: none;
}
.send input[type='submit']
{
    font-size: 1.1em;

    width: 14%;
    padding: .4em .8em;

    text-align: center;

    color: #fff;
    border: none;
    outline: none;
    background: #8fbf00;

    -webkit-appearance: none;
}
.send input[type='submit']:hover
{
    background: #2d2d2d;
}
.contact-form
{
    padding: 3em 0;
}
.address-more
{
    padding: 0 0 2em;
}
.contact-in p
{
    font-size: 1em;
    line-height: 1.7em;

    width: 72%;

    color: #a09f9f;
}
.address-more h4
{
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 1.4em;

    margin: 0 0 .3em;

    color: #626262;
}
.address-more p a
{
    text-decoration: none;

    color: #9a9898;
}
.address-more p a:hover
{
    color: #8fbf00;
}
/*--//contact--*/
/*--four--*/
.four
{
    min-height: 477px;
    padding: 9em 0 10em;

    text-align: center;
}
.four h2
{
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 7em;

    padding: .1em 0 .2em;

    color: #8fbf00;
}
.four p
{
    font-size: 2em;

    color: #2d2d2d;
}
/*--//four--*/
/*--reviews--*/
.review h2
{
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 3em;

    text-align: center;

    color: #2d2d2d;
}
.review
{
    padding: 3em 0 5em;
}
.col-1
{
    padding: 1em;

    background: #eee;
}
.col-1 h4
{
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 1.2em;

    margin: .8em 0 .5em;
}
.col-1 h4 a
{
    text-decoration: none;

    color: #2d2d2d;
}
.col-1 h4 a:hover
{
    color: #8fbf00;
}
.col-1 p
{
    font-size: 1em;
    line-height: 1.5em;

    color: #2d2d2d;
}
.review-md1
{
    padding: 3em 0 0;
}
/*--//reviews--*/
/*--blog--*/
.blog
{
    padding: 3em 0;
}
.blog h2
{
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 3em;

    text-align: center;

    color: #2d2d2d;
}
.blog-left
{
    float: left;

    padding-right: 1.5em;

    border-right: 1px solid #b6b3b3;
}
.blog-to
{
    padding: 2em 0;
}
.blog-top
{
    padding: 1em 0 0;
}
.top-blog
{
    float: left;

    width: 90%;
    margin: .5em 0 0 2em;
}
.blog-left b
{
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 3.5em;

    display: block;

    height: 55px;

    color: #8fbf00;
}
.blog-left span
{
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 1.7em;

    color: #8fbf00;
}
ul.men-grid li
{
    display: inline-block;
}
.top-blog p
{
    font-size: 1.1em;
    line-height: 1.5em;

    color: #a09f9f;
}
.top-blog p a
{
    text-decoration: none;

    color: #8fbf00;
}
.top-blog  a.fast
{
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 1.1em;

    text-decoration: none;

    color: #2d2d2d;
}
.top-blog a.fast:hover,
.top-blog p a:hover,
ul.popular li a:hover,
a.more-dummy:hover
{
    color: #8fbf00;
}
.pagination > .active > a,
.pagination > .active > a:hover
{
    border-color: #8fbf00;
    background: #8fbf00;
}
.pagination
{
    margin: 0;
}
.pagination > li > a:hover
{
    color: #fff;
    border-color: #8fbf00;
    background: #8fbf00;
}
a.more
{
    display: inline-block;

    padding: .5em 1em;

    text-decoration: none;

    color: #fff;
    background: #8fbf00;
}
a.more:hover
{
    background: #2d2d2d;
}
p.sed
{
    margin: .5em 0 1em;
}
nav
{
    text-align: center;
}
.single-inline
{
    padding: 0 15px;
}
/*--//blog--*/
/*--single--*/
.single-middle h3
{
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 2.5em;

    margin: 0 0 1em;

    text-align: center;

    color: #2d2d2d;
}
.single-bottom
{
    padding: 0 0 4em;
}
.single-bottom input[type='text'],
.single-bottom textarea
{
    font-size: 1em;

    width: 100%;
    padding: 1em;

    color: #a09f9f;
    border: 1px solid #a09f9f;
    outline: none;
    background: none;

    -webkit-appearance: none;
}
.single-bottom  input[type='submit']
{
    font-size: 1.3em;

    width: 10%;
    margin: 0 .8em;
    padding: .4em .8em;

    text-align: center;

    color: #fff;
    border: none;
    outline: none;
    background: #8fbf00;

    -webkit-appearance: none;
}
.single-bottom  input[type='submit']:hover
{
    background: #2d2d2d;
}
.single-bottom textarea
{
    width: 97.6%;
    min-height: 180px;
    margin: 1em 1em;

    resize: none;
}
.media-body h4
{
    font-size: 1.3em;
}
.media-body h4 a
{
    text-decoration: none;

    color: #2d2d2d;
}
.media-body p
{
    font-size: 1.1em;
    line-height: 1.5em;

    margin: .7em 0 0;

    color: #a09f9f;
}
.media
{
    margin: 0 0 3em;
}
.single-bottom h3
{
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 2.5em;

    margin: .5em 0 1em;

    text-align: center;

    color: #2d2d2d;
}
.md-in
{
    padding: 0;
}
.in-media
{
    padding: 0 0 0 5em;
}
ul.grid-part li
{
    list-style: none;
}
ul.grid-part li a
{
    font-size: 1.1em;

    display: block;

    padding: .2em 0;

    text-decoration: none;

    color: #a09f9f;
}
ul.grid-part li a i
{
    display: inline-block;

    width: 5px;
    height: 5px;
    margin-right: 10px;

    vertical-align: middle;

    background: #8fbf00;
}
ul.grid-part li a:hover
{
    padding-left: .2em;

    color: #8fbf00;
}
ul.grid-part
{
    margin: .5em 0 2em;
}
.single
{
    padding: 2em 15px 0;
}
/*--//single--*/
/*--responsive--*/
@media(max-width:1366px)
{
}
@media(max-width:1280px)
{
}
@media(max-width:1220px)
{
}
@media(max-width:1024px)
{
    ul.wmuSliderPagination
    {
        height: 283px;
        padding: 8em 2em 0;
    }
    h2.new:after,
    h2.new:before
    {
        width: 389px;
    }
    /*--blog--*/
    .top-blog
    {
        width: 86%;
    }
}
@media(max-width:768px)
{
    span.menu
    {
        position: relative;

        display: block;

        cursor: pointer;
        text-align: right;
    }
    .top-nav ul
    {
        position: absolute;
        z-index: 9999;
        left: 0;

        display: none;

        width: 100%;
        margin: 2em 0;

        border: 0;
        background: #8fbf00;
    }
    .top-nav span.menu
    {
        display: block;
    }
    .top-nav ul li
    {
        display: block;
        float: none;

        padding: .3em;

        text-align: center;
    }
    .top-nav ul li a
    {
        display: block;

        margin: 0;
        padding: .4em;

        color: #fff;
        border: none;
        background: none;
    }
    .top-nav ul li.active a
    {
        color: #000;
    }

    ul.wmuSliderPagination
    {
        width: 47px;
        height: 216px;
        padding: 6.5em 1.4em 0;
    }
    h2.new:after,
    h2.new:before
    {
        width: 279px;
    }
    .col-mn2 p
    {
        width: 97%;
    }
    .col-mn
    {
        min-height: 346px;
    }
    .latest
    {
        margin-bottom: 2em;
    }
    a.fashion
    {
        width: 20%;
    }
    .grid-product
    {
        width: 78%;
    }
    .grid-product p
    {
        width: 43%;
    }
    .featured
    {
        padding: 3em 0 1em;
    }
    .content-top
    {
        padding: 3em 0 3em;
    }
    .footer-middle-in h6
    {
        font-size: 1.1em;
    }
    .footer-middle-in p
    {
        width: 95%;
    }
    .search
    {
        width: 30%;
    }
    /*--reviews--*/
    .sed-md
    {
        float: left;

        width: 33.3%;
    }
    .col-1 h4
    {
        font-size: 1em;
    }
    .review
    {
        padding: 3em 0 3em;
    }
    .review-md1
    {
        padding: 2em 0 0;
    }
    /*--blog--*/
    .top-blog
    {
        width: 83%;
    }
    .md-in
    {
        float: left;

        width: 50%;
    }
    .single-bottom input[type='text']
    {
        margin-bottom: 1em;
    }
    .single-bottom textarea
    {
        width: 96%;
        margin: 0 1em 1em;
    }
    .single-bottom input[type='submit']
    {
        width: 13%;
    }
    /*--contact--*/
    .contact-in
    {
        margin-top: 2em;
    }
}

@media(max-width:640px)
{
    .search
    {
        width: 36%;
    }
    ul.wmuSliderPagination
    {
        height: 174px;
        padding: 4.8em 1.4em 0;
    }
    .banner
    {
        padding: 2em 0;
    }
    h2.new:after,
    h2.new:before
    {
        width: 215px;
    }
    .col-mn
    {
        min-height: 318px;
        padding: 4.5em 0 0;
    }
    a.fashion
    {
        width: 25%;
    }
    .grid-product
    {
        width: 73%;
    }
    .footer-middle-in h6
    {
        font-size: .9em;
    }
    /*--reviews--*/
    .sed-md
    {
        padding: 0 10px;
    }
    .review h2,
    .games h2,
    .blog h2,
    .contact h2
    {
        font-size: 2.5em;
    }
    /*--blog--*/
    .top-blog
    {
        width: 84%;
        margin: .5em 0 0 1em;
    }
    .blog-left b
    {
        font-size: 2em;

        height: 35px;
    }
    .blog-left span
    {
        font-size: 1em;
    }
    .blog-left
    {
        padding-right: 1em;
    }
    ul.grid-part
    {
        margin: .5em 0 1em;
    }
    .media
    {
        margin: 0 0 1em;
    }
    .single-bottom textarea
    {
        width: 93%;
    }
    .single-middle h3,
    .single-bottom h3
    {
        font-size: 2em;
    }
    .single-bottom input[type='submit']
    {
        width: 20%;
    }
}
@media(max-width:568px)
{
    ul.header-in li a
    {
        margin: 0 .3em;
    }
}
@media(max-width:480px)
{
    .footer-middle-in h6
    {
        font-size: .9em;
    }
    .search
    {
        width: 44%;
    }
    .header-top
    {
        padding: 1em 0;
    }
    .wmuSliderPagination li
    {
        display: inline-block !important;
    }
    .banner-top
    {
        width: 100%;
        margin-bottom: 1em;
    }
    .banner-top-in
    {
        width: 26%;
    }
    ul.wmuSliderPagination
    {
        width: 403px;
        height: 32px;
        margin: 0 1em 0 0;
        padding: .9em 0 0;

        text-align: center;
    }
    .wmuSliderPagination
    {
        top: 90%;
    }
    .banner-wrap
    {
        padding: 0 0 3em;
    }
    .wmuSliderPagination a
    {
        margin: 0 .5em 0 0;
    }
    .banner
    {
        padding: 2em 0 0;
    }
    .search input[type='text']
    {
        padding: 8px 6px;
    }
    h2.new
    {
        font-size: 1.3em;
    }
    h2.new:after,
    h2.new:before
    {
        width: 145px;
    }
    .col-mn2 p
    {
        font-size: 1em;

        width: 100%;
    }
    .col-mn2 h3
    {
        font-size: 2.5em;
    }
    .col-mn
    {
        min-height: 290px;
        padding: 3.5em 0 0;
    }
    a.fashion
    {
        width: 32%;
    }
    .grid-product
    {
        width: 65%;
    }
    .grid-product p
    {
        font-size: 1em;

        width: 79%;
    }
    .footer-middle-in
    {
        width: 50%;
    }
    /*--404--*/
    .four p
    {
        font-size: 1.3em;
    }
    /*--review--*/
    .sed-md
    {
        width: 100%;
        margin-top: 2em;
    }
    .review-md1
    {
        padding: 0 0 0;
    }
    .col-1 img
    {
        width: 100%;
    }
    .md-in
    {
        width: 100%;
    }
}
@media(max-width:414px)
{
    .search
    {
        display: none;
    }
    ul.header-in
    {
        width: 100%;
        margin-top: 0;
        padding: .5em;

        text-align: center;
    }
    ul.header-in li a
    {
        font-size: 1em;

        margin: 0 .3em;
    }
}
@media(max-width:320px)
{
    .logo h1
    {
        font-size: 1.8em;

        margin-top: 6px;
    }
    .col-mn2 h3
    {
        font-size: 2em;
    }
    .col-mn
    {
        padding: 2.3em 0 0;
    }
    a.fashion
    {
        width: 45%;
    }
    .grid-product
    {
        width: 51%;
    }
    .grid-product p
    {
        font-size: .9em;

        width: 100%;
    }
    .latest h4
    {
        font-size: 1.3em;
    }
    .late
    {
        padding: 1em 0 0;
    }
    .wmuSliderWrapper
    {
        padding: 0 0;
    }
    .latest
    {
        margin-bottom: 1.5em;
        padding: 0;
    }
    .featured
    {
        padding: 1.5em 0 1em;
    }
    .content-top
    {
        padding: 1.5em 0;
    }
    /*--games--*/
    .games
    {
        padding: 1.5em 0;
    }
    .review h2,
    .games h2,
    .blog h2,
    .contact h2
    {
        font-size: 1.8em;
    }
    /*--reviews--*/
    .review
    {
        padding: 1.5em 0;
    }
    .sed-md
    {
        width: 100%;
        margin-top: 1.5em;
        padding: 0;
    }

    ul.wmuSliderPagination
    {
        width: 268px;
        margin: 0 0 0 0;
    }
    h2.new
    {
        font-size: 1.1em;

        padding: 0;
    }
    h2.new:after,
    h2.new:before
    {
        width: 74px;
    }
    /*--four--*/
    .four h2
    {
        font-size: 4em;
    }
    .four p
    {
        font-size: 1.1em;
    }
    .four
    {
        min-height: 339px;
        padding: 5em 0 6em 0;
    }
    /*--blog--*/
    .blog
    {
        padding: 1.5em 0;
    }
    .blog-to
    {
        padding: 1.5em 0 0;
    }
    .single-inline
    {
        padding: 0;
    }
    .blog-left b
    {
        font-size: 1.8em;

        height: 26px;
    }
    .blog-left span
    {
        font-size: .9em;
    }
    .top-blog
    {
        width: 77%;
    }
    .top-blog a.fast,
    .top-blog p
    {
        font-size: .9em;
    }
    nav
    {
        padding: 1.5em 0 0;
    }
    a.more
    {
        padding: .35em .7em;
    }
    .single
    {
        padding: 0 0 0;
    }
    ul.grid-part li a
    {
        font-size: .9em;
    }
    .single-middle h3,
    .single-bottom h3
    {
        font-size: 1.7em;
    }
    .media-body p
    {
        font-size: .9em;
    }
    .in-media
    {
        padding: 0 0 0 0;
    }
    .comment
    {
        padding: 0;
    }
    .single-bottom input[type='text'],
    .single-bottom textarea
    {
        padding: .55em;
    }
    .single-bottom textarea
    {
        width: 100%;
        min-height: 100px;
        margin: 0 0 .7em;
    }
    .single-bottom input[type='submit']
    {
        width: 26%;
        margin: 0;
        padding: .2em;
    }
    .single-bottom
    {
        padding: 0 0 1.5em;
    }
    /*--contact--*/
    .map iframe
    {
        height: 100px;
    }
    .contact
    {
        padding: 1.5em 0 0;
    }
    .contact-form
    {
        padding: 1.5em 0;
    }
    .contact-grid
    {
        padding: 0;
    }
    .contact-in
    {
        margin-top: 1.5em;
        padding: 0;
    }
    .contact-grid input[type='text'],
    .contact-grid textarea
    {
        padding: .55em;
    }
    .send input[type='submit']
    {
        width: 24%;
    }
    .address-more
    {
        padding: 0 0 1em;
    }
    .top-nav ul
    {
        margin: 1em 0;
    }
    .head-top
    {
        padding: 0;
    }
}

.amazon-button, .lowestprice{
    font-size: 20px;
    color: red;
}